.menu {
  color: red;
}

.menu a {
    padding: 0 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.menu .active {
  color:lightblue;
}

.item {
  color: white;
}

